<div class="ui container">
  <h2 class="ui header">ADD GAME</h2>
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Title</label>
          <input
            type="text"
            placeholder="Title"
            [(ngModel)]="game.title"
          />
        </div>
        <div class="field">
          <label>Description</label>
          <textarea
            rows="2"
            placeholder="Description"
            [(ngModel)]="game.description"
          ></textarea>
        </div>
        <div class="field">
          <label>Image</label>
          <input
            type="text"
            placeholder="Image"
            [(ngModel)]="game.image"
          />
        </div>
        <button
          class="ui button blue fluid"
          (click)="edit ? updateGame() : saveNewGame()"
        >
          Submit
        </button>
      </div>
    </div>
    <div class="ui card">
      <div class="image">
        <img
          [src]="
            game.image == ''
              ? 'https://bit.ly/3BpFwGz'
              : game.image
          "
        />
      </div>
      <div class="content">
        <span class="header">{{ game.title }}</span>
        <div class="description">
          {{ game.description }}
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped>
  .header {
    padding-top: 10px;
    text-align: center;
  }
</style>
